<!DOCTYPE html>
<html>
<head>
  <title>Stock Dashboard</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style>
    h1 {text-align: center;}
    #chartContainer, #chartContainer2, #chartContainer3, #chartContainer4 {
      width: 100%;
      height: 400px;
    }

    .panel-primary > .panel-heading {
      background-color: purple;
    }
  </style>
</head>
<body>
  <h1>Stock Dashboard</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h2>Snapshot of COVID 19 on Airline, Cruise and Hospitality Industry Stocks</h2>
        <p>Use the interactive charts below to explore the dataset</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="well">
          <h5>Ticker ID:</h5>
          <select id="selDataset" onchange="optionChanged(this.value)"></select>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Stock Details</h3>
          </div>
          <div id="ticker-data" class="panel-body">
            <p><strong>Name:</strong> <span id="stockName"></span></p>
            <p><strong>FCF 2022 ($B):</strong> <span id="stockFCF"></span></p>
            <p><strong>Debt/EBIT:</strong> <span id="stockDebtEBIT"></span></p>
            <p><strong>EPS:</strong> <span id="stockEPS"></span></p>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div id="chartContainer"></div>
        <div id="line"></div>
      </div>
      <div class="col-md-5">
        <div id="chartContainer2"></div>
        <div id="line"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-5">
        <div id="chartContainer3"></div>
        <div id="line"></div>
      </div>
      <div class="col-md-5">
        <div id="chartContainer4"></div>
        <div id="line"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <div id="gauge-chart"></div>
        <div id="gauge"></div>
        <div id="arrow"></div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="./static/js/stocks_dashboard.js"></script>
  <script src="./static/js/stock_portfolio_analysis.js"></script>
  <script>
    // Add your JavaScript code here
  </script>
</body>
</html>


